[project]
	state = active
	description = Members: ivi-maintainers
[access]
	inheritFrom = scm/acls/domain_automotive
[access "refs/*"]
	owner = group ivi-maintainers
	create = group ivi-maintainers
	pushMerge = group ivi-maintainers
	pushTag = +force group ivi-maintainers
	label-Code-Review = -2..+2 group ivi-maintainers
	label-Verified = -1..+1 group ivi-maintainers
	submit = group ivi-maintainers
[receive]
	requireChangeId = false
	requireSignedOffBy = false
